*{
    margin: 0;
    padding: 0;
    border: border-box;
}

section{
    
}
canvas{
    background-color: black;
}
/* 
.saludo, .saludo2{
    display: flex;
    max-width: 400px;
    height: 30vh;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    margin: 0 15px 10px 15px;
    border: 3px solid;
}
.saludo .bienvenida{
    height: fit-content;
} */

.container-padre{
    border: 1px solid red;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container-sonometro{
    border: 1px solid blue;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 5px 5px;
    width: 600px;
    display: flex;
    margin-bottom: 10px;
    
} 

.sonometro {
    border: 1px solid purple;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    flex-direction: block;
    text-align: center;
    justify-content: center;
}

.sonometro section canvas{
    width: 100%;
    height: 100%;
}