body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,103,1) 17%, rgba(0,212,255,1) 100%);   
    color: white;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    margin: 30px auto;
    display: flex;
    align-items: center;
}

.titulo{
    text-align: center;
}

.section1{
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

.carta{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
}

.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px ;
    border-bottom-right-radius: 8px ;
    width: 250px;
    height: 400px;
    padding: 0 20px;
 
}
.section2 h2{
   font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}







/* ESTILO CARGA DE IMAGENES */
.caja{
    height: 500px;
}
.drop-area{
    border: 5px dashed #ddd;
    height: 350px;
    min-width: 450px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5px;
}
.drop-area.active{
    background-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}
.drop-area h2{
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.drop-area span{
    font-size: 25px;
    color: #000;
    margin: 20px;
    font-weight: 500;
}
.drop-area button{
    padding: 10px 25px;
    font-size: 20px;
    border: 0;
    outline: none;
    background-color: #5256ad;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.file-container{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: solid 1px #ddd;
}

#preview{
    margin-top: 10px;
}
.caja{
    margin: auto;
    max-width: 100%;
}
.file-container{
    padding: 0;
    max-width: auto;
    display: inline-flex;
}
.miniatura{ 
    height: 18vh;
    max-width: auto;
    /* border: 1px solid; */
}

.modal-footer{
    position: relative;
    margin-top: 5px;
}

.status-text{
    padding: 0 10px;
}
.success{
    color: #52ad5a; 
}
.failure{
    color: #ff0000;
}


